{% load static %}

<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="{% static 'images/image1.png' %}" width="100%">
            </div>
            <div class="col-2">
                <div class="form-container">
                    <div class="form-btn">
                        <span onclick="login()">Login</span>
                        <span onclick="register()">Register</span>
                        <hr id="Indicator" style="transform: translateX(100px);">
                    </div>
                    <form id="LoginForm" style="transform: translateX(0px);" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" name="username" required placeholder="Username">
                        <input type="password" name="password" required placeholder="Password">
                        <button type="submit" name="login" class="btn">Login</button>
                        <a href="">Forget Password</a>
                    </form>

                    <form id="RegForm" style="transform: translateX(0px);" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if messages %}
                        {% for message in messages %}
                        <p style="color: red; font-size: large;">{{ message }}</p>
                        {% endfor %}
                        {% endif %}
                        <input type="text" name="username" required minlength="5" maxlength="12" placeholder="username">
                        <input type="email" name="email" required  placeholder="email">
                        <input type="password" name="password" required minlength="6" maxlength="12" placeholder="password">
                        <input type="text" name="address" required minlength="6" maxlength="60" placeholder="address">
                        <input type="text" name="phone" required minlength="10" maxlength="12" placeholder="phone">
                        <button type="submit" name="register" class="btn">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>