{% load static %}

    

    <!-- Featured Products -->

    <div class="small-container">
        <h2 class="title">Featured Products</h2>
        <div class="row">
            {% for f_product in featured %}
            <div class="col-4">
                <a href=""><img src="{{ f_product.image.url }}"></a>
                <h4>{{ f_product.title }}</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>${{ f_product.price }}</p>
            </div>
            {% endfor %}
            
        </div>
        <h2 class="title">Latest Products</h2>
        <div class="row">
            {% for l_product in latest %}
            <div class="col-4">
                <img src="{{ l_product.image.url }}">
                <h4>{{ l_product.title }}</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>${{ l_product.price }}</p>
            </div>
            {% endfor %}
        </div>
    </div>